<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" style="text-align: center">
  <div>
    <label>
      Title :
      <br>
      <input type="text" formControlName="title">
    </label>
  </div>
  <div *ngIf="bookForm.get('title').invalid && bookForm.get('title').touched" style="color: red">
    Title is required and min length is 10
  </div>
  <div>
    <label>
      Author :
      <br>
      <input type="text" formControlName="author">
    </label>
  </div>
  <div *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched" style="color: red">
    Title is required and min length is 5
  </div>
  <div>
    <label>
      Description :
      <br>
      <textarea formControlName="description" cols="100" rows="10"></textarea>
    </label>
  </div>
  <div *ngIf="bookForm.get('body').invalid && bookForm.get('body').touched" style="color: red">
    Description is required and min length is 10
  </div>
  <button type="submit">Update</button>
</form>

