<hr>
<div>

</div>
<div class="btn btn-outline-primary offset-10">
  <a href="book/add">Add New Book</a>
</div>
<hr>
<div class="container">
  <table class="table">
    <td>ID</td>
    <td>Title</td>
    <td>Author</td>
    <td>...</td>
    <tr *ngFor="let books of bookList; index as i">
      <td>
        {{books.id}}
      </td>
      <td>
        <a [routerLink]="['/book', books.id]">{{books.title}}</a>
      </td>
      <td>{{books.author}}</td>
      <td>
        <a [routerLink]="['/book', books.id, 'edit']"><button>Edit</button></a>
        <button (click)="deleteBook(i)">Delete</button>
      </td>

    </tr>
  </table>
</div>

