<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Title
      <br>
      <input type="text" formControlName="title">
    </label>
  </div>
  <div *ngIf="bookForm.get('title').invalid && bookForm.get('title').touched" style="color: red">
    Title is required and min length is 10
  </div>
  <div>
    <label>
      Author:
      <br>
      <input type="text" formControlName="author">
    </label>
  </div>
  <div *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched" style="color: red">
    Author is required and min length is 5
  </div>
  <div>
    <label>
      Description
      <br>
      <textarea formControlName="description" cols="30" rows="10"></textarea>
    </label>
  </div>
  <div *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched" style="color: red">
    Author is required and min length is 10
  </div>
  <button type="submit">Add Book</button>
</form>

<table>
  <td>ID</td>
  <td>Title</td>
  <td>Author</td>
  <td>...</td>
  <tr *ngFor="let books of bookList; index as i">
    <td>
        {{books.id}}
    </td>
    <td>
      <a [routerLink]="['/book', books.id]">{{books.title}}</a>
    </td>
    <td>{{books.author}}</td>
    <td>
      <a [routerLink]="['/book', books.id, 'edit']"><button>Edit</button></a>
      <button (click)="deleteBook(i)">Delete</button>
    </td>

  </tr>
</table>
